#debut {
    text-align: center;
    font-family: sans-serif;
    background-image: url(Images/personnage.jpg);
    background-position: top;
    background-size: 100%
}

#aventure {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    background-color: lightgrey;
    
}

#nomJoueur {  
    border: 1px solid black;
    padding:10px;
}

.statJoueur {
    border: 1px solid black;
    padding:10px;
    width: 50%;
    text-align: left;
}

#nomMonstre {   
    border: 1px solid black;
    padding:10px;
}

.statMonstre {
    border: 1px solid black;
    padding:10px;
    width: 50%;
    text-align: left;
}

#versMagasin {
    display: flex;
    flex-wrap: wrap; 
}

#boutique {
    text-align: left;
    padding: 30px;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    background-image: url(Images/potion.png);
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: 2319FF;
    
}

#inventaire {
    text-align: left;
    padding: 30px;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    background-color: 7F4426;
    

}

.bourse {
    text-align: left;
    margin-right: 7%;
    margin-left: 80%;
    padding-left: 1%;
    border: 1px solid black;

}

body{
    background-image: url(Images/dragonnature.jpg);
    background-repeat: no-repeat;
    background-size: 180%

}